.AuthorShelf-books-list {
  max-width: 1400px;
  display: flex;
  flex-flow: row wrap;
}

.AuthorShelf-header {
  padding-left: 20px;
  padding-top: 20px;
  background: white;
  font-size: 2em;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  height: 80px;
}

.AuthorShelf-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: coral;
}