.Content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.Content-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgb(247, 125, 62);
  font-size: 2rem;
  height: 40vh;
  width: 60vw;
  max-width: 800px;
}

.Content-image-large {
  color: white;
  font-size: 5em;
}

.Content-image-large:hover {
  color: grey;
  font-size: 5em;
}

.Content-image-large:active {
  color: black;
  font-size: 5em;
}

.Content-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}